In [2]:
import pandas as pd

In [7]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

     기관명       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [9]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [11]:
CCTV_Seoul.columns[0]

'기관명'

In [13]:
CCTV_Seoul.columns.size

10

In [14]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)

In [15]:
CCTV_Seoul.head()

      구별       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [16]:
CCTV_Seoul.columns

Index(['구별', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [17]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xlsx', encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2019.3/4,합계,4315921,10025927,4887068,5138859,9740398,4751696,4988702,285529,135372,150157,2.26,1468146
3,2019.3/4,종로구,73942,162860,78523,84337,151767,73952,77815,11093,4571,6522,2.05,27394
4,2019.3/4,중구,62593,136663,67030,69633,126409,62161,64248,10254,4869,5385,2.02,23025

In [20]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xlsx',
                          header = 2,
                          usecols = 'B, D, G, J, N',
                          encoding='utf-8')
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10025927  9740398  285529   1468146
1  종로구    162860   151767   11093     27394
2   중구    136663   126409   10254     23025
3  용산구    244989   228830   16159     38531
4  성동구    311290   303158    8132     43662

In [21]:
pop_Seoul.columns

Index(['자치구', '계', '계.1', '계.2', '65세이상고령자'], dtype='object')

In [22]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
                          pop_Seoul.columns[1] : '인구수',
                          pop_Seoul.columns[2] : '한국인',
                          pop_Seoul.columns[3] : '외국인',
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10025927  9740398  285529  1468146
1  종로구    162860   151767   11093    27394
2   중구    136663   126409   10254    23025
3  용산구    244989   228830   16159    38531
4  성동구    311290   303158    8132    43662