In [2]:
import pandas as pd

In [7]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head()

     기관명       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [9]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [11]:
CCTV_Seoul.columns[0]

'기관명'

In [13]:
CCTV_Seoul.columns.size

10

In [14]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, inplace=True)

In [15]:
CCTV_Seoul.head()

      구별       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [16]:
CCTV_Seoul.columns

Index(['구별', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [17]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xlsx', encoding='utf-8')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2019.3/4,합계,4315921,10025927,4887068,5138859,9740398,4751696,4988702,285529,135372,150157,2.26,1468146
3,2019.3/4,종로구,73942,162860,78523,84337,151767,73952,77815,11093,4571,6522,2.05,27394
4,2019.3/4,중구,62593,136663,67030,69633,126409,62161,64248,10254,4869,5385,2.02,23025

In [20]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xlsx',
                          header = 2,
                          usecols = 'B, D, G, J, N',
                          encoding='utf-8')
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10025927  9740398  285529   1468146
1  종로구    162860   151767   11093     27394
2   중구    136663   126409   10254     23025
3  용산구    244989   228830   16159     38531
4  성동구    311290   303158    8132     43662

In [21]:
pop_Seoul.columns

Index(['자치구', '계', '계.1', '계.2', '65세이상고령자'], dtype='object')

In [22]:
pop_Seoul.rename(columns={pop_Seoul.columns[0] : '구별',
                          pop_Seoul.columns[1] : '인구수',
                          pop_Seoul.columns[2] : '한국인',
                          pop_Seoul.columns[3] : '외국인',
                          pop_Seoul.columns[4] : '고령자'}, inplace=True)
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10025927  9740398  285529  1468146
1  종로구    162860   151767   11093    27394
2   중구    136663   126409   10254    23025
3  용산구    244989   228830   16159    38531
4  성동구    311290   303158    8132    43662

In [23]:
pop_Seoul

      구별       인구수      한국인     외국인      고령자
0     합계  10025927  9740398  285529  1468146
1    종로구    162860   151767   11093    27394
2     중구    136663   126409   10254    23025
3    용산구    244989   228830   16159    38531
4    성동구    311290   303158    8132    43662
5    광진구    368337   352692   15645    47347
6   동대문구    363779   346551   17228    58764
7    중랑구    403776   398812    4964    64449
8    성북구    454114   441590   12524    70204
9    강북구    317875   314090    3785    59808
10   도봉구    337594   335280    2314    58070
11   노원구    539829   535282    4547    79968
12   은평구    486159   481663    4496    79957
13  서대문구    324089   310069   14020    51708
14   마포구    385605   373629   11976    51961
15   양천구    463931   459849    4082    60487
16   강서구    600240   593708    6532    82937
17   구로구    439850   406748   33102    64952
18   금천구    252868   233371   19497    37191
19  영등포구    402478   368402   34076    57350
20   동작구    410487   397618   12869    61607
21   관악구    519953   502117   17836    74518
22   서초구    435258   431027    4231    56455
23   강남구    549043   544028    5015    70029
24   송파구    684338   677489    6849    86062
25   강동구    430522   426219    4303    61710

In [24]:
CCTV_Seoul

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년
0,강 남 구,"5,221","1,944",195.0,316.0,430,546.0,765.0,577.0,448.0
1,강 동 구,"1,879",303,387.0,134.0,59,144.0,194.0,273.0,385.0
2,강 북 구,"1,265",243,88.0,141.0,74,145.0,254.0,1.0,319.0
3,강 서 구,"1,617",219,155.0,118.0,230,187.0,190.0,264.0,254.0
4,관 악 구,"3,985",430,56.0,419.0,487,609.0,619.0,694.0,671.0
5,광 진 구,"1,581",470,42.0,83.0,87,64.0,21.0,468.0,346.0
6,구 로 구,"3,227",852,219.0,349.0,187,268.0,326.0,540.0,486.0
7,금 천 구,"1,634",27,17.0,242.0,101,382.0,136.0,199.0,530.0
8,노 원 구,"1,906",481,117.0,203.0,80,461.0,298.0,110.0,156.0
9,도 봉 구,858,197,66.0,8.0,185,59.0,155.0,117.0,71.0
10,동대문구,"2,003",NaN,NaN,NaN,"1,326",111.0,233.0,136.0,197.0
11,동 작 구,"1,780",238,93.0,29.0,503,130.0,254.0,278.0,255.0
12,마 포 구,"1,935",585,108.0,69.0,70,177.0,359.0,372.0,195.0
13,서대문구,"2,121",565,233.0,214.0,114,109.0,277.0,415.0,194.0
14,서 초 구,"2,835","1,172",91.0,228.0,134,215.0,352.0,247.0,396.0
15,성 동 구,"2,679",665,109.0,118.0,101,258.0,201.0,933.0,294.0
16,성 북 구,"3,003",779,84.0,304.0,241,279.0,388.0,285.0,643.0
17,송 파 구,"1,586",600,99.0,88.0,21,166.0,100.0,116.0,396.0
18,양 천 구,"2,775",772,161.0,185.0,169,172.0,349.0,137.0,830.0
19,영등포구,"2,495",132,121.0,206.0,217,366.0,289.0,371.0,793.0
20,용 산 구,"2,063","1,279",152.0,201.0,107,102.0,89.0,60.0,73.0
21,은 평 구,"2,962","1,365",83.0,99.0,343,180.0,296.0,229.0,367.0
22,종 로 구,"1,471",8,7.0,599.0,132,195.0,148.0,281.0,101.0
23,중 구,"1,544",25,165.0,114.0,80,245.0,270.0,317.0,328.0
24,중 랑 구,"1,068",NaN,NaN,NaN,770,102.0,121.0,66.0,9.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
CCTV_Seoul.rename(columns={'구별' : '구우별'})

,구우별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년
0,강 남 구,"5,221","1,944",195.0,316.0,430,546.0,765.0,577.0,448.0
1,강 동 구,"1,879",303,387.0,134.0,59,144.0,194.0,273.0,385.0
2,강 북 구,"1,265",243,88.0,141.0,74,145.0,254.0,1.0,319.0
3,강 서 구,"1,617",219,155.0,118.0,230,187.0,190.0,264.0,254.0
4,관 악 구,"3,985",430,56.0,419.0,487,609.0,619.0,694.0,671.0
5,광 진 구,"1,581",470,42.0,83.0,87,64.0,21.0,468.0,346.0
6,구 로 구,"3,227",852,219.0,349.0,187,268.0,326.0,540.0,486.0
7,금 천 구,"1,634",27,17.0,242.0,101,382.0,136.0,199.0,530.0
8,노 원 구,"1,906",481,117.0,203.0,80,461.0,298.0,110.0,156.0
9,도 봉 구,858,197,66.0,8.0,185,59.0,155.0,117.0,71.0
10,동대문구,"2,003",NaN,NaN,NaN,"1,326",111.0,233.0,136.0,197.0
11,동 작 구,"1,780",238,93.0,29.0,503,130.0,254.0,278.0,255.0
12,마 포 구,"1,935",585,108.0,69.0,70,177.0,359.0,372.0,195.0
13,서대문구,"2,121",565,233.0,214.0,114,109.0,277.0,415.0,194.0
14,서 초 구,"2,835","1,172",91.0,228.0,134,215.0,352.0,247.0,396.0
15,성 동 구,"2,679",665,109.0,118.0,101,258.0,201.0,933.0,294.0
16,성 북 구,"3,003",779,84.0,304.0,241,279.0,388.0,285.0,643.0
17,송 파 구,"1,586",600,99.0,88.0,21,166.0,100.0,116.0,396.0
18,양 천 구,"2,775",772,161.0,185.0,169,172.0,349.0,137.0,830.0
19,영등포구,"2,495",132,121.0,206.0,217,366.0,289.0,371.0,793.0
20,용 산 구,"2,063","1,279",152.0,201.0,107,102.0,89.0,60.0,73.0
21,은 평 구,"2,962","1,365",83.0,99.0,343,180.0,296.0,229.0,367.0
22,종 로 구,"1,471",8,7.0,599.0,132,195.0,148.0,281.0,101.0
23,중 구,"1,544",25,165.0,114.0,80,245.0,270.0,317.0,328.0
24,중 랑 구,"1,068",NaN,NaN,NaN,770,102.0,121.0,66.0,9.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
CCTV_Seoul

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년
0,강 남 구,"5,221","1,944",195.0,316.0,430,546.0,765.0,577.0,448.0
1,강 동 구,"1,879",303,387.0,134.0,59,144.0,194.0,273.0,385.0
2,강 북 구,"1,265",243,88.0,141.0,74,145.0,254.0,1.0,319.0
3,강 서 구,"1,617",219,155.0,118.0,230,187.0,190.0,264.0,254.0
4,관 악 구,"3,985",430,56.0,419.0,487,609.0,619.0,694.0,671.0
5,광 진 구,"1,581",470,42.0,83.0,87,64.0,21.0,468.0,346.0
6,구 로 구,"3,227",852,219.0,349.0,187,268.0,326.0,540.0,486.0
7,금 천 구,"1,634",27,17.0,242.0,101,382.0,136.0,199.0,530.0
8,노 원 구,"1,906",481,117.0,203.0,80,461.0,298.0,110.0,156.0
9,도 봉 구,858,197,66.0,8.0,185,59.0,155.0,117.0,71.0
10,동대문구,"2,003",NaN,NaN,NaN,"1,326",111.0,233.0,136.0,197.0
11,동 작 구,"1,780",238,93.0,29.0,503,130.0,254.0,278.0,255.0
12,마 포 구,"1,935",585,108.0,69.0,70,177.0,359.0,372.0,195.0
13,서대문구,"2,121",565,233.0,214.0,114,109.0,277.0,415.0,194.0
14,서 초 구,"2,835","1,172",91.0,228.0,134,215.0,352.0,247.0,396.0
15,성 동 구,"2,679",665,109.0,118.0,101,258.0,201.0,933.0,294.0
16,성 북 구,"3,003",779,84.0,304.0,241,279.0,388.0,285.0,643.0
17,송 파 구,"1,586",600,99.0,88.0,21,166.0,100.0,116.0,396.0
18,양 천 구,"2,775",772,161.0,185.0,169,172.0,349.0,137.0,830.0
19,영등포구,"2,495",132,121.0,206.0,217,366.0,289.0,371.0,793.0
20,용 산 구,"2,063","1,279",152.0,201.0,107,102.0,89.0,60.0,73.0
21,은 평 구,"2,962","1,365",83.0,99.0,343,180.0,296.0,229.0,367.0
22,종 로 구,"1,471",8,7.0,599.0,132,195.0,148.0,281.0,101.0
23,중 구,"1,544",25,165.0,114.0,80,245.0,270.0,317.0,328.0
24,중 랑 구,"1,068",NaN,NaN,NaN,770,102.0,121.0,66.0,9.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
CCTV_Seoul.head()

      구별       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430   546.0  765.0  577.0  448.0
1  강 동 구   1,879      303   387.0  134.0    59   144.0  194.0  273.0  385.0
2  강 북 구   1,265      243    88.0  141.0    74   145.0  254.0    1.0  319.0
3  강 서 구   1,617      219   155.0  118.0   230   187.0  190.0  264.0  254.0
4  관 악 구   3,985      430    56.0  419.0   487   609.0  619.0  694.0  671.0

In [48]:
CCTV_Seoul.sort_values(by='소계', ascending=True)[CCTV_Seoul['구별'] = '송파구']

SyntaxError: invalid syntax (<ipython-input-48-11c8262c416d>, line 1)

In [53]:
cc = CCTV_Seoul.sort_values(by='소계', ascending=True)
cc[cc['구별'] = '송파구']

SyntaxError: invalid syntax (<ipython-input-53-c8cd54a924ed>, line 2)

In [54]:
cc

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년
24,중 랑 구,"1,068",NaN,NaN,NaN,770,102.0,121.0,66.0,9.0
2,강 북 구,"1,265",243,88.0,141.0,74,145.0,254.0,1.0,319.0
22,종 로 구,"1,471",8,7.0,599.0,132,195.0,148.0,281.0,101.0
23,중 구,"1,544",25,165.0,114.0,80,245.0,270.0,317.0,328.0
5,광 진 구,"1,581",470,42.0,83.0,87,64.0,21.0,468.0,346.0
17,송 파 구,"1,586",600,99.0,88.0,21,166.0,100.0,116.0,396.0
3,강 서 구,"1,617",219,155.0,118.0,230,187.0,190.0,264.0,254.0
7,금 천 구,"1,634",27,17.0,242.0,101,382.0,136.0,199.0,530.0
11,동 작 구,"1,780",238,93.0,29.0,503,130.0,254.0,278.0,255.0
1,강 동 구,"1,879",303,387.0,134.0,59,144.0,194.0,273.0,385.0
8,노 원 구,"1,906",481,117.0,203.0,80,461.0,298.0,110.0,156.0
12,마 포 구,"1,935",585,108.0,69.0,70,177.0,359.0,372.0,195.0
10,동대문구,"2,003",NaN,NaN,NaN,"1,326",111.0,233.0,136.0,197.0
20,용 산 구,"2,063","1,279",152.0,201.0,107,102.0,89.0,60.0,73.0
13,서대문구,"2,121",565,233.0,214.0,114,109.0,277.0,415.0,194.0
19,영등포구,"2,495",132,121.0,206.0,217,366.0,289.0,371.0,793.0
15,성 동 구,"2,679",665,109.0,118.0,101,258.0,201.0,933.0,294.0
18,양 천 구,"2,775",772,161.0,185.0,169,172.0,349.0,137.0,830.0
14,서 초 구,"2,835","1,172",91.0,228.0,134,215.0,352.0,247.0,396.0
21,은 평 구,"2,962","1,365",83.0,99.0,343,180.0,296.0,229.0,367.0
16,성 북 구,"3,003",779,84.0,304.0,241,279.0,388.0,285.0,643.0
6,구 로 구,"3,227",852,219.0,349.0,187,268.0,326.0,540.0,486.0
4,관 악 구,"3,985",430,56.0,419.0,487,609.0,619.0,694.0,671.0
0,강 남 구,"5,221","1,944",195.0,316.0,430,546.0,765.0,577.0,448.0
9,도 봉 구,858,197,66.0,8.0,185,59.0,155.0,117.0,71.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN